<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ntimes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NTimes">
        <activity android:name="xenoteo.com.github.ntimes.mainActivities.timeActivity.TimeActivity" />
        <activity android:name="xenoteo.com.github.ntimes.mainActivities.CheckActivity" />
        <activity android:name="xenoteo.com.github.ntimes.mainActivities.RestActivity" />
        <activity android:name="xenoteo.com.github.ntimes.mainActivities.RoundActivity" />
        <activity android:name="xenoteo.com.github.ntimes.mainActivities.RoundNumberActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>